<!DOCTYPE html>
<html>
  <head>
    <title>AdminRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <center class="notice"><%= notice %></center>
    <center class="alert"><%= alert %></center>
    <%= yield %>
  </body>
</html>
